<div>
  <script>
      console.log("<%= @display_student[0].id_num %>");
  </script>
    <p>Student ID : <%= @display_student[0].id_num %></p>
    <p>Student's First Name : <%= @display_student[0].first_name %></p>
    <p>Student's Last Name : <%= @display_student[0].last_name %></p>
    <p>Student's Birthday : <%= @display_student[0].birthday %></p>
    <p>Student's Address : <%= @display_student[0].address %></p>
    <p>Student's GPA : <%= @display_student[0].gpa %></p>
</div>